{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Contact Section -->
<div class="container center_div">
    <div class="form-group">
        <br>
        <form method="post" action="auth/login" class="form-inline">
            <fieldset class="form-group">
                <legend class="border-bottom">Log In</legend>
                <div class="form-group mb-2">
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    <button class="btn btn-outline-primary" type="submit" value="Login">Login</button>
                </div>
            </fieldset>
        </form>
        <br>
        <form action="/saml/login">                                                                                                                 
            <input type="submit" value="SSO" class="btn btn-outline-primary">                                                                           
        </form>
    </div>

</div>


{% endblock %}